<% provide(:title, "Confirm New User") %>
<h1>Confirm New User</h1>
<div class="row">
    <div class="span6 offset5"><%= button_to "Confirm", { action: 'activate' }, class: 'btn btn-large btn-primary'  %></div>
  </div>
</div>

